<div class="annotated-image"
  ng-swipe-right="view.previousAnnotation()"
  ng-swipe-left="view.nextAnnotation()"
>
  <img ng-src="http://52.90.46.49/images/{{view.object.imageFilename}}">
  <div class="annotation annotation--{{annotation.type}}"
    ng-class="{selected: view.activeAnnotationIndex == $index}"
    ng-click="view.activeAnnotationIndex = $index"
    ng-repeat="annotation in view.object.pois"
    style="top: {{annotation.locationY}}%; left: {{annotation.locationX}}%;"
  ></div>
</div>
<div class="image-info" ng-if="view.object.pois.length > 0">
  <div class="dots">
    <div class="dot"
      ng-class="{selected: view.activeAnnotationIndex == $index}"
      ng-repeat="annotation in view.object.pois"
    ></div>
  </div>
  <p>
    {{view.object.pois[view.activeAnnotationIndex].text}}
  </p>
</div>
