@mixin annotation-variant($color) {
  background-color: $color;
  &:before {
    border-color: $color;
  }
}

.annotated-image {
  position: relative;

  .annotation {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.75;

    &.selected:before {
      content: "";
      border: 2px solid red;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 50%;
    }

    &.annotation--symbol {
      @include annotation-variant(red);
    }

    &.annotation--materials {
      @include annotation-variant(yellow);
    }

    &.annotation--artist {
      @include annotation-variant(cyan);
    }

  }

  img {
    max-width: 100%;
  }
}

.image-list {
  img {
    max-width: 100%;
  }
}

.image-info {
  padding: 10px;
}
