@mixin annotation-variant($color) {
  background-color: $color;
  &:before {
    border-color: $color;
  }
}

.annotated-image {
  position: relative;

  .annotation {
    position: absolute;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.75;
    transition: transform 0.2s linear;

    &.annotation:before {
      content: "";
      border: 2px solid red;
      width: 26px;
      height: 26px;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 50%;
    }

    &.annotation.selected {
      transform: translate(-50%, -50%) scale(1.3);
    }

    &.annotation--symbol {
      @include annotation-variant(red);
    }

    &.annotation--materials {
      @include annotation-variant(yellow);
    }

    &.annotation--artist {
      @include annotation-variant(cyan);
    }

  }

  img {
    max-width: 100%;
  }
}

.image-list {
  img {
    max-width: 100%;
  }
}

.image-info {
  padding: 15px;
  padding-top: 0;
}

.dots {
  text-align: center;

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
    transition: opacity 0.3s linear;

    &.selected {
      opacity: 1;
    }

    & + .dot {
      margin-left: 5px;
    }
  }
}

.dark-view {
  background-color: #292929;
  color: white;
}

.bar.bar-header {
  background-color: #444;
  border-bottom: 1px solid #292929;

  .header-item {
    color: white;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .grid-item {
    // border: 1px solid red;
    max-width: calc(50% - 2px);
    position: relative;
    min-width: calc(50% - 2px);
    margin-bottom: 4px;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    .title {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      transform: translateY(-100%);
      margin: 0;
      background-color: rgba(255, 255, 255, 0.75);
      width: 100%;
      height: 2.8em;
      font-size: 14px;
      padding: 0.3em;
      box-sizing: border-box;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

}
