.annotated-image {
  position: relative; }
  .annotated-image .annotation {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.75; }
    .annotated-image .annotation.selected:before {
      content: "";
      border: 2px solid red;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 50%; }
    .annotated-image .annotation.annotation--symbol {
      background-color: red; }
      .annotated-image .annotation.annotation--symbol:before {
        border-color: red; }
    .annotated-image .annotation.annotation--materials {
      background-color: yellow; }
      .annotated-image .annotation.annotation--materials:before {
        border-color: yellow; }
    .annotated-image .annotation.annotation--artist {
      background-color: cyan; }
      .annotated-image .annotation.annotation--artist:before {
        border-color: cyan; }
  .annotated-image img {
    max-width: 100%; }

.image-list img {
  max-width: 100%; }

.image-info {
  padding: 10px;
  padding-top: 0; }

.dots {
  text-align: center; }
  .dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888; }
    .dots .dot.selected {
      background-color: black; }
    .dots .dot + .dot {
      margin-left: 5px; }
